<% content_for :title do %>Welcome to Fall Creek Funeral Home<% end %>
<% content_for :description do %>Primary wedsite and application of FCFH<% end %>

<!-- Top Poster Banner -->
<div class="poster">
	<%= image_tag("dove_release_mod.jpg", :alt => "Dove released into the sun", :height => "100%", :width => "100%") %>
</div>

<!-- Left and Right Intro Articles -->
<div class="intro_article">
	<div class="intro_article_left">
		<h1>We listen, we care and we show the love of Christ</h1>
		<h3>- It's our mission.</h3>
		
		<p class="intro"><b>Fall Creek Funeral Home</b> provides a special place to remember your beloved.</p>
		<p class="intro">One of the sad realities of life is that we all die. It is one of life’s inevitable 
		   events that each of us has a beginning (birth) and an ending (death). In those first 
		   few hours, one of your first calls should be to Fall Creek Funeral Home, "Your 
		   Memorial & Chapel" - 281.441.3255. We are here to complete the circle and make 
		   the end of life as special as the beginning.</p>

		 <h2>It’s about honoring life.</h2>
		 
		 <p class="intro">Our vocation is to take care of your loved ones as well as your family and 
		 	friends by providing exceptional service. We provide our services with a helping 
		 	heart.</p>

		 <h2>Serving all Houston Area Cemeteries</h2>

		 <p class="intro">We treat your family like one of our own. After the funeral, we remain in contact 
		 	with you to see that your needs are met. Click here for our Stay Connected Plan.</p>

		 <h1>We’re here to serve you.</h1>
	</div>
	<div class="intro_article_right">
		<%= image_tag("profile.jpg", :alt => "Michael and Joshua Jefferson", :height => "100%", :width => "100%") %>
	</div>
</div>
<!-- Icon Menu -->
<div class="icon_menu">
	<div class="icon_single">
		<%= image_tag("24hour-icon.png", :alt => "24 Hours Call", :height => "40%", :width => "40%") %>
		<h1 class="icon">We Are On Call</h1>
		<p>We have personnel on call and prepared to assisted in taking the remains.</P>
	</div>
		<div class="icon_single"></h1>
		<%= image_tag("grief-icon.png", :alt => "Grief Counseling", :height => "40%", :width => "40%") %>
		<h1 class="icon">Grief Counseling</h1>
		<p>With the loss of a loved one, there is always grief.  Grief is a personal process.  Understanding the stages of
			grief and the journey may help you in your time of need.</P>
	</div>
		<div class="icon_single"></h1>
		<%= image_tag("note-icon.png", :alt => "What Do I Do", :height => "40%", :width => "40%") %>
		<h1 class="icon">"What Do I Do Next"</h1>
		<p>Burying your loved one is never easy, but we offer a guide to helping you make the right choices.</P>
	</div>
		<div class="icon_single"></h1>
		<%= image_tag("family-icon.png", :alt => "Pre-Planning", :height => "40%", :width => "40%") %>
		<h1 class="icon">Preplanning</h1>
		<p>Preplanning a funeral can take the burden off yout family adn firends and ensure hyour last wishes are cared out a you
			desire.  Fall Creek will have your instructions to follow as you wish elimainating any family disagreements.</P>
	</div>
</div>