<div id="upper_header">
	<div id="left_header">
		<%= image_tag("fcfh_logo_trans 200 x 112.png", :alt => "Fall Creak Funeral Home logo", :height => "100%", :width => "100%") %>
	</div>

	<div id="mid_header">
		<span class="header_text">
			<b>sign in</b>
			&nbsp;&nbsp;|&nbsp;&nbsp;register	
		</span>
	</div>

	<div id="right_header">
		
		<%= link_to(image_tag("facebook_icon.png", :alt => "Facebook link to fall creek page"), 
			"https://facebook.com/pages/Fall-Creek-Funeral-Home/123097131038208") %>
		<%= link_to(image_tag("twitter_icon.png", :alt => "Twitter link to fall creek account"),
			"https://twitter.com/fallcreekfh") %>
		<%= link_to(image_tag("googleplus_icon.png", :alt => "Twitter link to fall creek account"),
			"https://plus.google.com") %>
		<%= link_to(image_tag("linkedin_icon.png", :alt => "Twitter link to fall creek account"),
			"https://www.linkedin.com/pub/jefferson-micheal/68/2bb/636") %>
		<%= mail_to "mjefferson@fallcreekfuneralhome.com", 
			image_tag("email_icon.png", :alt => "Twitter link to fall creek account") %>
	</div>
</div>
<nav class="top_menu">
  <%= link_to 'Home', root_path %>
  <%= render 'layouts/navigation_links' %>
</nav>
